<!DOCTYPE html>
<html>
	<head>
		<title>Ahorcado</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="..\styles\disenio.css"/>
	</head>
	<body>
		<header><h1>Ahorcado</h1></header>
		<form action="adminArch.php">
			<div>Para el óptimo funcionamiento los vocabularios sólo usaran las primeras 20 palabras.
			Cada palabra debe estar separada por un salto de línea y sólo se permiten archivos de texto plano (.txt).
			Así mismo es necesario que se ponga el tema del vocabulario.</div>
			Tema del vocabulario: <input type="text" name="tema"/>
			<input type="file" name="voc"/>
			<input type="submit" value="Enviar"/>
		</form>
	</body>
</html>