<!DOCTYPE html>
<html>
	<head>
		<title>Ahorcado</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="..\styles\disenio.css"/>
	</head>
	<body>
		<header><h1>Ahorcado</h1></header>
		<section class="int">
			<form action="registro.html" class="inicio">
				<input type="submit" value="Registrarse" class="primero"/> <!--class="inicio"-->
			</form>
			<form action="usuario.html" class="inicio">
				<input type="submit" value="Iniciar sesión" class="segundo"/><!--class="inicio"--> 
			</form>
		</section>
	</body>
</html>