<!--los span tal vez no son necesarios-->

<!DOCTYPE html>
<html>
	<head>
		<title>Ahorcado</title>
		<meta charset="UTF-8">
		<link href="../bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="..\styles\disenio.css"/>
	</head>
	<body>
		<header><h1>Ahorcado</h1></header>
		<section class="int">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-registro">Registrarse</button> <!--class="inicio"-->
			
			<div class="modal fade" id="modal-registro" role="dialog">
				 <div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h1>Registro</h1>
						</div>
						<div class="modal-body" id="cuerpo-modal">
							<form class="form-horizontal">
								<div class="form-group has-feedback">
									<label for="nombre" class="label-control col-md-3">Nombre: </label>
									<div class="col-md-9">
										<input type="text" name="nombre" id="nom-reg" class="form-control" maxlength="10" placeholder="Tu nombre"/>
										<span class="form-control-feedback glyphicon" id="icon-nom-reg"></span>
									</div>
								</div>
								<div class="form-group has-feedback">
									<label for="usuario" class="label-control col-md-3">Usuario: </label>
									<div class="col-md-9">
										<input type="text" name="usuario" id="usu-reg" class="form-control" maxlength="9" placeholder="Número de cuenta"/>
										<span class="form-control-feedback glyphicon" id="icon-usu-reg"></span>
									</div>
								</div>
								<div class="form-group has-feedback">
									<label for="contra" class="label-control col-md-3">Contraseña: </label>
									<div class="col-md-9">
										<input type="password" name="contra" id="con-reg" class="form-control" maxlength="12"/>
										<span class="form-control-feedback glyphicon" id="icon-con-reg"></span>
									</div>
								</div>
							</form>
							<div class="alert hidden" id="nota-reg" role="alert"></div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success btn-lg" id="btn-reg">Registrarse</button>
						</div>
					</div>
				</div>
			</div>
			
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-inicio">Iniciar Sesión</button>
			
			<div class="modal fade" id="modal-inicio" role="dialog">
				 <div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h1>Iniciar Sesión</h1>
						</div>
						<div class="modal-body" id="cuerpo-modal">
							<form class="form-horizontal">
								<div class="form-group has-feedback">
									<label for="usuario-ini" class="label-control col-md-3">Usuario: </label>
									<div class="col-md-9">
										<input type="text" name="usuario-ini" id="usu-ini" class="form-control" maxlength="9" placeholder="Número de cuenta"/>
										<span class="form-control-feedback glyphicon" id="icon-usu-ini"></span>
									</div>
								</div>
								<div class="form-group has-feedback">
									<label for="contra-ini" class="label-control col-md-3">Contraseña: </label>
									<div class="col-md-9">
										<input type="password" name="contra-ini" id="con-ini" class="form-control" maxlength="12"/>
										<span class="form-control-feedback glyphicon" id="icon-con-ini"></span>
									</div>
								</div>
							</form>
							<div class="alert hidden" id="nota-ini" role="alert"></div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary btn-lg" id="btn-ini">Entrar</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<script src="../programs/jquery-2.2.3.js"></script>
		<script src="../bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
		<script src="../programs/validarRegistro.js"></script>
		
	</body>
</html>