<!DOCTYPE html>
<html>
	<head>
		<title>Ahorcado</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="..\styles\disenio.css"/>
	</head>
	<body>
		<header><h1>Ahorcado</h1></header>
		<section>
		<form action="valida.php" method="post">
			Nombre: <input type="text" name="nombre" maxlength="10"/><br/>
			Nombre de usuario: <input type="text" name="usuario" maxlength="10" place-holder="letras y numeros"/><br/>
			Contraseña: <input type="text" name="contra" maxlength="12"/><br/>
			<input type="submit" value="Registrarse"/>
		</form>
		</section>
	</body>
</html>
